{% extends 'partials/base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} BOM Detail: {{ bom.product.name }} {% endblock %}
<!--  -->
{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm form-card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0">
              <i class="fas fa-cogs me-2"></i>BOM Rule: {{ bom.product.name }}
            </h4>
            <div>
              <a
                href="{% url 'products:bom_list' %}"
                class="btn btn-secondary btn-sm"
                >BACK TO LIST</a
              >
              <a
                href="{% url 'products:bom_edit' bom.pk %}"
                class="btn btn-primary btn-sm"
              >
                <i class="fas fa-pen me-1"></i> EDIT
              </a>
            </div>
          </div>
        </div>
        <div class="card-body p-4">
          <h5>Conversion Rule</h5>
          <hr />
          <div class="row">
            <div class="col-md-12 mb-3">
              <p class="mb-0"><strong>Product:</strong></p>
              <a href="{% url 'products:detail' bom.product.id %}"
                >{{ bom.product.name }}</a
              >
            </div>
            <div class="col-md-6">
              <p class="mb-0"><strong>From Unit (Bigger):</strong></p>
              <p>{{ bom.uom_from.name }}</p>
            </div>
            <div class="col-md-6">
              <p class="mb-0"><strong>To Unit (Smaller):</strong></p>
              <p>{{ bom.uom_to.name }}</p>
            </div>
            <div class="col-md-12 mt-3">
              <p class="mb-0"><strong>Conversion Factor:</strong></p>
              <h4>
                1 {{ bom.uom_from.name }} =
                <strong>{{ bom.conversion_factor|floatformat }}</strong>
                <!--  -->
                {{ bom.uom_to.name }}
                <!--  -->
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
