{% extends 'partials/base.html' %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% load static %}
<!--  -->
{% block extracss %}
<link rel="stylesheet" href="{% static 'user/css/login.css' %}" />
{% endblock %}
<!--  -->
{% block title %} Sign in {% endblock%}
<!--  -->
{% block navbar %}{% endblock %}
<!--  -->
{% block content %}
<div class="container">
  <!-- ALERT -->
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <!-- CARD -->
  <div class="card">
    <!-- Header -->
    <div class="login-header">
      <p>Sign in</p>
    </div>
    <!-- Body -->
    <div class="login-body">
      <form method="POST">
        {% csrf_token %}

        <!-- USERNAME -->
        <div class="custom-form-group">
          <input type="text" name="username" class="custom-input" placeholder=" " required id="id_username" />
          <label for="id_username">USERNAME</label>
        </div>

        <!-- PASSWORD -->
        <div class="custom-form-group">
          <input type="password" name="password" class="custom-input" placeholder=" " required id="id_password" />
          <label for="id_password">PASSWORD</label>
        </div>

        <button class="btn" type="submit" id="btn-login">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </form>
    </div>

    <!-- Footer -->
    <div class="login-footer">
      <a href="{% url 'user:username_reset' %}" class="footer-link">CAN'T SIGN IN?</a>
      <a href="{% url 'user:register' %}" class="footer-link">CREATE ACCOUNT</a>
    </div>
  </div>
</div>
{% endblock %}
