.container {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
}

/* === CARD === */
.card {
  min-width: max-content;
  width: 40rem;
}

.login-header {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.login-body {
  padding: 1.5rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}
#btn-login {
  display: block;
  margin: 4rem auto 0;
  height: 5rem;
  width: 5rem;
  border-radius: 1.5rem;
  border-color: rgb(147, 147, 147);
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  color: rgb(147, 147, 147);
}
#btn-login:hover {
  border-color: rgb(255, 255, 255);
  background-color: rgb(0, 57, 101);
  color: rgb(255, 255, 255);
}

.login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2rem;
}
.footer-link {
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.footer-link:hover {
  color: rgb(0, 0, 0);
}
