{% extends 'partials/base.html' %}
<!--  -->
{% load crispy_forms_tags %}
<!---->
{% load static %}
<!---->
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/dashboard/prescription.css' %}" />
{% endblock %}
<!---->
{% block title %} Prescribing Medicine {% endblock %}
<!---->
{% block content %}
<div class="container">
  <!-- ALERT -->
  <div class="row">
    <div class="col">
      {% if messages %}
      <!--  -->
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
      <!--  -->
      {% endif %}
    </div>
  </div>

  <!-- FORM KÊ ĐƠN -->
  <div class="row">
    <div class="card shadow-sm">
      <div class="card-header">
        <p><i class="fa-solid fa-file-medical"></i> New Prescription</p>
      </div>
      <div class="card-body">
        <!-- Patient -->
        <p>Patient <span class="required">*</span></p>
        <form
          method="POST"
          id="prescription-form"
          onsubmit="return confirm('Are you sure you want to complete and dispatch this prescription? This action cannot be undone.');"
        >
          {% csrf_token %}
          <!--  -->
          {{ prescription_form|crispy }}
          <!--  -->
          <hr />
          <!-- Medicine Details -->
          <p>Medicine Details <span class="required">*</span></p>
          <div id="details-container">
            <!-- Form details will be added here by JS -->
          </div>

          <!-- Các ô chọn -->
          <template id="detail-form-template">
            <div
              class="row mb-3 detail-form align-items-end"
              data-index="__prefix__"
            >
              <!-- Chọn tên thuốc -->
              <div class="col-md">
                <label for="id_details___prefix___product">Name</label>
                <select
                  name="details-__prefix__-product"
                  id="id_details___prefix___product"
                  class="form-select product-select"
                  required
                ></select>
              </div>

              <!-- Chọn đơn vị tính -->
              <div class="col-md">
                <label for="id_details___prefix___uom" class="form-label"
                  >Unit</label
                >
                <select
                  name="details-__prefix__-uom"
                  id="id_details___prefix___uom"
                  class="form-select uom-select"
                  required
                  disabled
                >
                  <option value="">Choose medicine first.</option>
                </select>
              </div>

              <!-- Chọn số  lượng -->
              <div class="col-md">
                <label for="id_details___prefix___quantity" class="form-label"
                  >Quantity</label
                >
                <input
                  type="number"
                  name="details-__prefix__-quantity"
                  id="id_details___prefix___quantity"
                  class="form-control"
                  min="1"
                  required
                />
              </div>

              <!-- DELETE -->
              <div class="col-md-auto">
                <button type="button" class="btn btn-danger remove-form">
                  <i class="fa-solid fa-trash"></i>
                  Delete
                </button>
              </div>
            </div>
          </template>

          <!-- Input ẩn để đếm số lượng form chi tiết -->
          <input type="hidden" name="form_count" id="form-count" value="0" />
          <hr />

          <!-- Button -->
          <div class="mt-3">
            <button type="button" id="add-more" class="btn btn-add">
              <i class="fa-solid fa-plus"></i> Add
            </button>
            <button type="submit" class="btn btn-complete">
              <i class="fa-solid fa-check-circle"></i> Complete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- LỊCH SỬ TOA THUỐC -->
  <div class="row">
    <div class="card shadow-sm">
      <div class="card-header">
        <p><i class="fa-solid fa-clock-rotate-left"></i> History</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>Patient</th>
                <th>Doctor</th>
                <th>Created Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for p in prescriptions %}
              <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.patient.full_name|default:"N/A" }}</td>
                <td>{{ p.doctor.username }}</td>
                <td>{{ p.created_at|date:"d/m/Y H:i" }}</td>
                <td>
                  {% if p.completed_at %}
                  <span class="badge bg-success"
                    >Completed at {{ p.completed_at|date:"H:i d/m/Y" }}</span
                  >
                  {% else %}
                  <span class="badge bg-warning">Not yet completed.</span>
                  {% endif %}
                </td>
                <td class="text-center">
                  <a
                    href="{% url 'download-prescription-pdf' p.id %}"
                    class="btn btn-secondary btn-sm"
                    data-bs-toggle="tooltip"
                    title="Download PDF"
                  >
                    <i class="fas fa-download"></i>
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5" class="text-center">
                  No prescription has been created yet.
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!---->
{% block javascript %}
<script src="{% static 'js/dashboard/prescription.js' %}"></script>
<script>
  const productsData = [
      {% for product in products %}
        {
          id: '{{ product.id }}',
          name: '{{ product.name|escapejs }} (Còn: {{product.quantity}})',
          uom_category_id: '{{ product.base_uom.category.id|default:"" }}'
        },
      {% endfor %}
  ];

  const uomsData = [
            {% for uom in uoms %}
              {
                id: '{{ uom.id }}',
                name: '{{ uom.name|escapejs }}',
                category_id : '{{ uom.category.id }}'
              },
            {% endfor %}
  ];
  // Gọi hàm khởi tạo với dữ liệu
  initializePrescriptionForm(productsData, uomsData);
</script>
{% endblock %}
