/* Kích thước các cột trong bảng Nhóm Sản phẩm */
.table {
  min-width: 900px;
}
.col-category-name {
  width: 300px;
}
.col-category-parent {
  width: 300px;
}
.col-description {
  width: 350px;
}
.col-actions {
  width: 150px;
}
