/* === CARD === */
.card {
  min-width: 20rem;
}
/* === Header === */
.card-header {
  background-color: rgb(255, 255, 255);
}
.card-header h4 {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.card-header a {
  background-color: rgb(100, 55, 195);
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.card-header a:hover {
  background-color: rgb(80, 35, 175);
  color: rgb(235, 235, 235);
}

/* === Body === */
/* Search */
.search-wrapper {
  position: relative;
}
.search-wrapper .form-control {
  padding-right: 2.75rem;
}
.search-wrapper .btn-search {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  pointer-events: none;
}
.btn-search i {
  pointer-events: auto;
}

/* Table */
.table-container {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: auto;
}
/* Header */
.table thead th {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  white-space: nowrap;
}
/* Body */
.table tbody td {
  vertical-align: middle;
  text-align: center;
}
.table tbody tr:hover {
  background-color: #e9ecef;
}
.action-buttons a {
  margin: 0 5px;
}
.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: rgb(248, 215, 218) !important;
}
.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: rgb(255, 245, 205) !important;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fff3cd !important;
}
