{% extends 'partials/base.html' %}
<!---->
{% load static %}
<!---->
{% load humanize %}
<!---->
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/dashboard/product.css' %}" />
{% endblock %}
<!---->
{% block title %} Medicine Management {% endblock %}
<!---->
{% block content %}
<div class="container">
  <!-- ALERT -->
  {% if messages %} {% for message in messages %}
  <div
    class="alert alert-{{ message.tags }} alert-dismissible fade show"
    role="alert"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endif %}

  <!-- CARD -->
  <div class="card shadow-sm">
    <!-- Header -->
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h4><i class="fa-solid fa-list-ul me-2"></i>Medication List</h4>
        <a href="{% url 'dashboard-product-add' %}" class="btn btn-new">
          <i class="fa-solid fa-plus me-1"></i>New
        </a>
      </div>
    </div>

    <!-- Body -->
    <div class="card-body">
      <!-- Search -->
      <form method="GET" action="{% url 'dashboard-product' %}" class="mb-3">
        <div class="search-wrapper">
          <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search by name, category ..."
            value="{{ search_query }}"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>

      <!-- Table -->
      <div class="table-responsive table-container">
        <table class="table table-hover table-bordered">
          <!-- Head -->
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit</th>
              <th scope="col">Import Price (VNĐ)</th>
              <th scope="col">Selling Price (VNĐ)</th>
              <th scope="col">Expiration Date</th>
              <th scope="col">Supplier</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <!-- Body -->
          <tbody>
            {% for item in items %}
            <tr
              class="{% if item.quantity == 0 %}table-danger{% elif item.quantity < 10 %}table-warning{% endif %}"
            >
              <td><strong>{{ item.code }}</strong></td>
              <td class="text-start">{{ item.name }}</td>
              <td>{{ item.category }}</td>
              <td>
                <span
                  class="badge {% if item.quantity == 0 %}bg-danger{% elif item.quantity < 10 %}bg-warning{% else %}bg-info{% endif %} p-2"
                >
                  {{ item.quantity|default:"N/A" }}
                </span>
              </td>
              <td>{{ item.unit|default:"N/A" }}</td>
              <td class="text-end">
                {{ item.import_price|floatformat:"0"|intcomma }}
              </td>
              <td class="text-end">
                {{ item.sale_price|floatformat:"0"|intcomma }}
              </td>
              <td>{{ item.expiry_date|date:"d/m/Y"|default:"N/A"}}</td>
              <td class="text-start">{{ item.supplier|default:"N/A" }}</td>
              <td class="action-buttons">
                <a
                  href="{% url 'dashboard-product-update' item.id %}"
                  class="btn btn-primary btn-sm"
                  data-bs-toggle="tooltip"
                  title="Chỉnh sửa"
                >
                  <i class="fa-solid fa-pen"></i>
                </a>
                <a
                  href="{% url 'dashboard-product-delete' item.id %}"
                  class="btn btn-danger btn-sm"
                  data-bs-toggle="tooltip"
                  title="Xóa"
                >
                  <i class="fa-solid fa-trash"></i>
                </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="10" class="text-center p-4">
                Không tìm thấy sản phẩm nào.
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!--  -->
{% block javascript %}
<script src="{% static 'js/dashboard/product.js' %}"></script>
{% endblock %}
