{% extends 'partials/base.html' %}
<!--  -->
{% block title %} Confirm Delete {% endblock %}
<!--  -->
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-danger shadow-sm">
        <div class="card-header bg-danger text-white">
          <h4>Confirm Deletion</h4>
        </div>
        <div class="card-body">
          <p>
            Are you sure you want to delete the UoM Category:
            <strong>{{ item.name }}</strong>?
          </p>
          <div class="alert alert-warning">This action cannot be undone.</div>
        </div>
        <div class="card-footer text-end">
          <form method="POST">
            {% csrf_token %}
            <a
              class="btn btn-secondary"
              href="{% url 'dashboard-uom-category-list' %}"
              >Cancel</a
            >
            <button class="btn btn-danger" type="submit">Confirm Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
